html {
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  list-style-type: none;
  text-decoration: none;
  background-color: #ffe500;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 3rem;
  margin: 0;
}

.button {
  border-color: #ffe500;
  background-color: #ffe500;
  outline-offset: 2px;

  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.button nav {
  font-size: 1.125rem;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

.button li {
  display: inline-block;
}

.button a {
  display: inline-block;
  list-style-type: none;
  border-radius: 4px;
  background-color: #b2a212;
  color: #fff;
  font-family: serif;
  text-align: center;
  text-decoration: none;
}

.button a:hover {
  padding: 0 .75em;
  background-color: #cc1465;
  color: #fff;
}

.button .current {
  background-color: #cc1465;
  border-color: #cc1465;
  color: #fff;
}

h2 {
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  color: #b20953;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.berries {
  font-family: Gerogia, serif;
  background-color: #fff;
  text-align: center;
  margin-bottom: .3em;
}

.berries figcaption {
  color: #2f2d13;
  padding: .75em;
}

.bottom {
  padding: .2em .5em .3em;
}

.blueberry {
  font-family: Georgia, serif;
  background-color: #fff;
  text-align: center;
  margin-bottom: .3em;
}

.blueberry h2 {
  font-family: "Sigmar One", serif;
}

.blueberry figcaption {
  color: #2f2d13;
  padding: .75em;
}

.bblogo {
  padding: .2em .5em .3em;
}

.grapes {
  font-family: Georgia, serif;
  background-color: #fff;
  text-align: center;
  margin-bottom: .3em;
}

.grapes h2 {
  font-family: "Sigmar One", serif;
  padding: 0 .75em;
}

.grapes figcaption {
  color: #2f2d13;
  padding: .75em;
}

.glogo {
  padding: .2em .5em .3em;
}

.red {
  font-family: Georgia, serif;
  background-color: #fff;
  text-align: center;
  margin-bottom: .3em;
}

.red h2 {
  font-family: "Sigmar One", serif;
}

.red figcaption {
  color: #2f2d13;
  padding: .75em;
}

.rlogo {
  padding: .2em .5em .3em;
}
